<div id="<%= dom_id sample %>">
  <p>
    <strong>Name:</strong>
    <%= sample.name %>
  </p>

  <p>
    <strong>Histogram:</strong>
    <%= sample.histogram %>
  </p>

  <p>
    <strong>Words count:</strong>
    <%= sample.words_count %>
  </p>

  <p>
    <strong>Cycles:</strong>
    <%= sample.cycles %>
  </p>

</div>
